body {
  margin: 0;
 /* display: flex;*/
  height: 90vh;
}
body *{
  box-sizing: border-box;
}

.mdc-text-field{
  margin: 10px 30px;

}

.mdc-card img{
	height: 30px;
	width: 100px;
	margin-left: 41.5%;
	margin-top: 30px;
}
.mdc-card{
  margin:  50px;
  
  border: 1px solid #DADCE0;
  width: 450px;
  margin: 0px auto;
  margin-top: 30px;
  border-radius: 2%;
}

.card-title{
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-style: bold;
}
.regbgcolor .a1{
	color: red;
	display: inline;
}
.regbgcolor .a2{
	color: green;
	display: inline;
}
.p{
	margin: none;
	padding: 0px;
}
.mdc-button--raised{
	background-color: #5500ff;
}
.topSignin{
	font-family: Arial, Helvetica, sans-serif; 
	text-align: center;
	font-size: 20px;
}
.wyga{
	font-family: Arial, Helvetica, sans-serif;
	 text-align: center;
	 font-size: 16px;
	 color: gray;
	margin: 10px;
}
.forget{
	font-family: Arial, Helvetica, sans-serif;
	margin-left:29px;
	font-size: 16px;
	color: #1E75E8;
}
.content{
	font-family: Arial, Helvetica, sans-serif ;
	margin-left: 29px;
	color: gray;
	height: 5px;
	font-size: 14px;
}
.learnmore{
	font-family: Arial, Helvetica, sans-serif;
	margin-left:29px;
	font-size: 14px;
	color: #1E75E8;
}
.createAccount{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1E75E8;
	margin-left: 28px
}
.bottom{
	margin-left: 110px;
	color: gray;
	font-size: 14px;
}
.bottom2{
	color: gray;
	font-size: 14px;
	margin-right: 60px;
}

.mdc-button--raised:not(:disabled){
	background-color: #287AE6;
}

a{
	text-decoration: none;
}

/*register css ***************************************************************/
.mainGrid{
	margin-left: 20px;
}

.cardRegister{
	  width: 800px;
	  margin-top: 20px;
}

.registerLogo{
	margin-right: 180px;
	margin-top: 30px
}

.mdc-card img{
	height: 30px;
	width: 80px;
}

.headingMain{
	font-weight: normal;
	font-size: 22px;
}

.titleMain {
    margin-left: 28px;
}

.accountImage img{
	height: 244px;
	width: 244px;
}

.accountImage{
	margin-right: 250px;
	margin-top: 100px;
}

.bottomRegister{
	margin-left: 136px;
}

.widthFull{
	width: 100%;
}

.tagLine p{
	margin: 0px;
	font-size: 13px;
}

.tagline{
	margin-bottom: 20px;
}

.titleMain{
	margin-bottom: 30px;
}

.fa-eye-slash{
	margin-top: 30px;
	margin-left: 30px;
}

.nextButton{
	margin-left: 90px;
}

.singIn{
	margin-top: 10px;
}

.accountTagLine {
	margin: 0px 40px;
}

.accountTagLine p{
	text-align: center;
}

.userImage .fa-user-circle{
	margin: 0px;

}

.userImage{
	margin-left: 26px;
}

.fa-user-circle{
	color: #0A8AEF;
}

.mailLine p{
	margin: 2px;
	font-size: 13px;
}

.codeClass{
	margin-top: 10px;
}

.countryCode{
	height: 56px;
	width: 110px;
	margin-top: 10px;
}

.monthDropdown{
	height: 56px;
	width: 150px;
	margin-left: 20px;
	margin-top: 10px;
}

.marginBottom{
	margin-bottom: 30px;
}

:root {
    --mdc-theme-primary: #3690E4;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
	color: #3690E4;
}

.widthFull{
	width: 100%;
}

.signUp{
	width: 100px;
}